.teacher {
  flex: 1;
  padding: 10px;
  background-color: blue;
  /* width: 700px; */
  height: 70vh;
  margin-top: 20px;
  margin-left: 20px;
  overflow: scroll;
}

.teacher_table {
  padding: 10px;
  width: 100%;
  text-align: left;
}

th {
  border-bottom: 1px solid black;
  height: 40px;
  padding: 10px;
}

td {
    padding: 10px;
}

.tr:hover{
    border: 1px solid black;
    background-color: red;
    cursor: pointer;

}

button {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 10px;
}
