.body {
  background-color: hsl(220, 27%, 98%);
  border-radius: 10px;
  overflow: scroll;
}
.showRow,
.showHead {
  display: grid;
  padding: 0 10px;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  background-color: white;
  height: 50px;
  align-items: center;
  text-align: center;
  border-bottom: 5px solid var(--grey);
}

.show_response {
  display: block;
  background-color: #0066ff;
  color: #fff;
  position: relative;
  top: 60%;
  left: 40%;
  width: 250px;
  text-align: left;
  padding: 10px;
  height: 25px;
  transition: 1s ease;
}

.showRow:hover {
  border: 1px red solid;
  font-size: 1.1rem;
}

.sticky_wrapper {
  position: relative;
}

.sticky {
  position: fixed;
  grid-template-columns: 0.5fr 1fr 1fr 1fr;
  top: 0;
  z-index: 5;
}

.sticky {
  position: sticky;
  top: 0;
}

/* ADD form  ---------------------------------*/
.form_head {
  grid-template-columns: auto;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.empty {
  display: block;
  background-color: hsl(220, 27%, 98%);
  border: none;
}

.container {
  display: grid;
  place-items: center;
  height: 80%;
}

.form {
  display: block;
  border-radius: 10px;
  height: 400px;
}

.body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_field {
  display: grid;
  place-items: center;
  height: 350px;
}

.half {
  display: grid;
  grid-template-columns: 50% 50%;
}

.full {
  width: 475px;
}

.input_field input {
  margin-bottom: 20px;
  height: 35px;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-align: center;
  outline: none;
  border: 1px solid hsl(200, 9%, 86%);
  background-color: rgba(255, 255, 255, 0.8);
}

.submit {
  height: 40px;
  font-size: 1.3rem;
  width: 400px;
  background: #3a749b;
  color: white;
  border-radius: 25px;
  box-shadow: 1px 1px 5px gray;
}

.submit:hover {
  background-color: rgb(136, 171, 236);
  color: black;
  box-shadow: 1px 1px 5px gray;
}
/* ================================================== */
/* Search Form ================================================== */
.search_head {
  grid-template-columns: 0.3fr 0.3fr 1fr 0.1fr;
}

.search_field {
  display: grid;
  place-items: center;
  height: 40px;
  width: 100%;
}

.search_field input {
  width: 95%;
  height: 35px;
  font-size: 1.2rem;
  font-weight: 500;
  color: black;
  text-align: center;
  outline: none;
  border: 1px solid hsl(200, 9%, 86%);
  border-radius: 20px;
}
.search_icon {
  display: grid;
  place-items: center;
}
